---
layout: default
title: "People"
permalink: /people
sitemap: true
---
<div class="container">
    <h1 class="category">LDILab's Family</h1>
    <div class="people">
        {% for category in site.data.people %}
        {% if category.category contains "Alumni" %}
            {% continue %}
        {% endif %}
        <div class="people-content">
            <div class="people-category">{{ category.category }}</div>
            <div class="people-list">
                {% assign people = site.people | where: 'position', category.name | sort: 'timestamp' %}
                {% for member in people %}
                {% assign memberurl = site.url | append: site.baseurl | append: member.url %}
                {% if member.position == 'Professor' %}
                    {% assign memberurl = 'https://seungwonh.github.io/' %}
                {% endif %}
                <div class="person" onclick="location.href='{{ memberurl }}';" style="cursor: pointer;">
                    <div class="person-image-container">
                        <img src="{{ site.url }}{{ site.baseurl }}/assets/images/people/{{ member.photo }}"
                            alt="{{ member.name }}">
                    </div>
                    <div class="person-info-container">
                        <div class="person-name">
                            {% assign name_parts = member.name | split: ' ' %}
                            {{ name_parts | first }}, {{ name_parts | last }} ({{ member.korean_name }})
                        </div>
                        <a class="person-mail" href="mailto:{{ member.mail }}">{{ member.mail }}</a>
                        <ul class="person-interests">
                            {% assign count = 0 %}
                            {% for interest in member.interests %}
                            {% assign count = count | plus: 1 %}
                            {% if count <= 2 %}
                                <li>{{ interest }}</li>
                            {% else %}
                                <li>...</li>
                                {% break %}
                            {% endif %}
                            {% endfor %}
                        </ul>
                        <a class="person-moreinfo" href="{{ memberurl }}">More Information</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}

        
        {% for alumnis-type in site.data.alumni %}
        <div class="people-content">
            <div class="people-category-alumni">Alumni ({{ alumnis-type.type }})</div>
            <div class="people-list">
                {% for alumnus in alumnis-type.alumni %}
                    {% if alumnus.profile %}
                        <a class="alumni" href="{{ site.url }}{{ site.baseurl }}/person/{{ alumnus.profile }}">
                            {{ alumnus.name }}, {{ alumnis-type.type }} ({{ alumnus.year }})
                            {% if alumnus.extras %} (→ {{ alumnus.extras }}){% endif %}
                        </a>
                    {% else %}
                        {% if alumnus.website %}
                            <a class="alumni" href="{{ alumnus.website }}">
                                {{ alumnus.name }}, {{ alumnis-type.type }} ({{ alumnus.year }})
                                {% if alumnus.extras %} (→ {{ alumnus.extras }}){% endif %}
                            </a>
                        {% else %}
                            <div class="alumni">
                                {{ alumnus.name }}, {{ alumnis-type.type }} ({{ alumnus.year }})
                                {% if alumnus.extras %} (→ {{ alumnus.extras }}){% endif %}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}

    </div>
</div>