---
layout: default
---
<div class="hero">
    <div class="middle-logo">
        <img src="{{ site.url }}{{ site.baseurl }}/assets/images/ldi-logo.svg" alt="LDI Logo" />
    </div>
    <div class="welcome">Welcome to the</div>
    <div class="lab-name">Language and Data Intelligence Lab.</div>
    <div class="lab-info">of Seoul National University</div>
    <div>
        <a class="explore-btn" href="{{ site.url }}{{ site.baseurl }}/publications">Publications</a>
        <a class="github-btn" href="https://github.com/ldilab" target="_blank" >Github</a>
    </div>
</div>

<div class="container">
    <h1 class="research">Research Topics</h1>
    <p class="description">Our interest lies in enabling technologies for intelligent retrieval and mining
        data/document/object retrieval systems. We are pursuing research in the following directions.</p>
    <div class="research-topics">
        <div class="topic blue">
            <div class="topic-icon">
                <img src="{{ site.url }}{{ site.baseurl }}/assets/images/ir.svg" alt="Information Retrieval Icon">
            </div>
            <div class="topic-title">Information Retrieval</div>
        </div>
        <div class="topic green">
            <div class="topic-icon">
                <img src="{{ site.url }}{{ site.baseurl }}/assets/images/multilanguage.svg"
                    alt="Multilingual Language Models Icon">
            </div>
            <div class="topic-title">Multilingual Language Models</div>
        </div>
        <div class="topic orange">
            <div class="topic-icon">
                <img src="{{ site.url }}{{ site.baseurl }}/assets/images/multimodal.svg" alt="Multimodal Learning Icon">
            </div>
            <div class="topic-title">Multimodal Learning</div>
        </div>
        <div class="topic red">
            <div class="topic-icon">
                <img src="{{ site.url }}{{ site.baseurl }}/assets/images/codegeneration.svg" alt="Code Generation Icon">
            </div>
            <div class="topic-title">Code Generation</div>
        </div>
    </div>
</div>