---
layout: default
---
<div class="hero">
    <div class="middle-logo">
        <img src="{{ site.url }}{{ site.baseurl }}/assets/images/ldi-logo.svg" alt="LDI Logo" />
    </div>
    <div class="welcome">Welcome to the</div>
    <div class="lab-name">Language and Data Intelligence Lab.</div>
    <div class="lab-info">of Seoul National University</div>
    <a class="explore-btn" href="{{ site.url }}{{ site.baseurl }}/publications">Explore</a>
</div>

<div class="container">
    <h1 class="research">Research Topics</h1>
    <p class="description">Our interest lies in enabling technologies for intelligent retrieval and mining
        data/document/object retrieval systems. We are pursuing research in the following directions.</p>
    <div class="research-topics">
        <div class="topic blue">
            <div class="topic-icon">
                <img src="{{ site.url }}{{ site.baseurl }}/assets/images/ir.svg" alt="Information Retrieval Icon">
            </div>
            <div class="topic-title">Information Retrieval</div>
            <p class="topic-description">This area of our research focuses on developing algorithms and systems for
                information retrieval. Our aim is to enhance the efficiency, relevance, and speed of
                accessing information across various domains.</p>
        </div>
        <div class="topic green">
            <div class="topic-icon">
                <img src="{{ site.url }}{{ site.baseurl }}/assets/images/multilanguage.svg"
                    alt="Multilingual Language Models Icon">
            </div>
            <div class="topic-title">Multilingual Language Models</div>
            <p class="topic-description">Our work in multilingual language models revolves around creating models
                capable
                of understanding and generating human languages across diverse linguistic landscapes. We're
                dedicated to
                developing versatile systems that facilitate communication and understanding across global
                boundaries.</p>
        </div>
        <div class="topic orange">
            <div class="topic-icon">
                <img src="{{ site.url }}{{ site.baseurl }}/assets/images/multimodal.svg" alt="Multimodal Learning Icon">
            </div>
            <div class="topic-title">Multimodal Learning</div>
            <p class="topic-description">In multimodal learning, we explore the fusion of vision and language
                through
                advanced algorithms and systems. Our research aims to bridge the gap between different data types,
                enabling
                machines to interpret and generate information from various sources. This interdisciplinary approach
                holds
                promise for natural language understanding.</p>
        </div>
        <div class="topic red">
            <div class="topic-icon">
                <img src="{{ site.url }}{{ site.baseurl }}/assets/images/codegeneration.svg" alt="Code Generation Icon">
            </div>
            <div class="topic-title">Code Generation</div>
            <p class="topic-description">Our focus in code generation encompasses the development of algorithms and
                systems tailored for various tasks, including code summarization and translation. We streamline
                development processes, automate
                tasks, and enhance code quality and comprehension.</p>
        </div>
    </div>
</div>